<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.howei.mapper.DepartmentMapper" >
    <resultMap id="comMap" type="com.howei.pojo.Company">
        <result column="id" property="id"></result>
        <result column="name" property="name"></result>
        <result column="created" property="created"></result>
        <result column="createdBy" property="createdBy"></result>
        <result column="isactive" property="isactive"></result>
        <result column="parent" property="parent"></result>
        <result column="codeName" property="codeName"></result>
        <result column="headQuarters" property="headQuarters"></result>
    </resultMap>

    <select id="getDepList" resultType="java.util.HashMap" resultMap="comMap">
      select * from company where parent=(select id from company where headQuarters=0)
    </select>

    <select id="getDepartmentMap" resultType="com.howei.pojo.Company" parameterType="java.util.Map">
      select * from company
        <where>
            <if test="companyId!=null">
                and parent=#{companyId}
            </if>
            <if test="companyId==null or companyId==''">
                and parent=1
            </if>
            <if test="departmentId!=null">
                and (id=#{departmentId} or id in (79,80))
            </if>
        </where>
    </select>

    <select id="getCompanyMap" resultType="com.howei.pojo.Company">
        select * from company where isactive=1 and parent=0
    </select>
    
    <select id="getDepMap" resultType="com.howei.pojo.Company">
        select * from company where isactive=1 and parent=1 and id not in (79,80)
    </select>

</mapper>