<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.howei.mapper.EmployeeMapper" >
    <resultMap id="empMap" type="com.howei.pojo.Employee">
        <result column="id" property="id"></result>
        <result column="name" property="name"></result>
        <result column="userNumber" property="userNumber"></result>
        <result column="idNumber" property="idNumber"></result>
        <result column="bank" property="bank"></result>
        <result column="card" property="card"></result>
        <result column="phone" property="phone"></result>
        <result column="closhe" property="closhe"></result>
        <result column="hat" property="hat"></result>
        <result column="laowupaiqian" property="laowupaiqian"></result>
        <result column="education" property="education"></result>
        <result column="credentials1" property="credentials1"></result>
        <result column="credentials2" property="credentials2"></result>
        <result column="credentials3" property="credentials3"></result>
        <result column="emergency" property="emergency"></result>
        <result column="emergencyTel" property="emergencyTel"></result>
        <result column="remark" property="remark"></result>
        <result column="wages" property="wages"></result>
        <result column="basicwages" property="basicwages"></result>
        <result column="meritpay" property="meritpay"></result>
        <result column="address" property="address"></result>
        <result column="created" property="created"></result>
        <result column="createdBy" property="createdBy"></result>
        <result column="manager" property="manager"></result>
        <result column="sign" property="sign"></result>
        <result column="skillPay" property="skillPay"></result>
        <result column="positionSalary" property="positionSalary"></result>
        <result column="seniorityWage" property="seniorityWage"></result>
        <result column="foodSupplement" property="foodSupplement"></result>
        <result column="endowmentInsurance" property="endowmentInsurance"></result>
        <result column="unemploymentBenefits" property="unemploymentBenefits"></result>
        <result column="medicalInsurance" property="medicalInsurance"></result>
        <result column="accumulationFund" property="accumulationFund"></result>
        <result column="unionFees" property="unionFees"></result>
        <result column="isChanged" property="isChanged"></result>
    </resultMap>

    <!--if(e.isChanged=7,"薪酬调整",if(e.isChanged=6,"部门调整",if(e.isChanged=5,"派遣调整",if(e.isChanged=4,"试用转正",if(e.isChanged=3,"试用期",if(e.isChanged=2,"当月离职",if(e.isChanged=1,"当月入职","正常"))))))) isChanged-->
    <select id="getEmployeeList" parameterType="java.util.HashMap" resultType="com.howei.pojo.Employee">
        select e.id,u.userNumber,u.userName as name,u.entryDate,IF(u.sex=1,'男','女') as sexName,c.`name` as companyName,c1.`name` as departmentName,
        p.`name` as postName,e.manager,e1.name as managerName,IF(u.state=0,'离职','在职') as stateName,e.skillPay,e.positionSalary,e.seniorityWage,e.foodSupplement,
        e.endowmentInsurance,e.unemploymentBenefits,e.medicalInsurance,e.accumulationFund,e.unionFees,e.sign,
        e.phone,e.idNumber,e.address,u.email,e.laowupaiqian,e.credentials1,e.credentials2,e.credentials3,e.bank,e.card,
        (CASE e.isChanged
        WHEN 0 THEN '正常'
        WHEN 1 THEN '当月入职'
        WHEN 2 THEN '当月离职'
        WHEN 3 THEN '试用期'
        WHEN 4 THEN '试用转正'
        WHEN 5 THEN '派遣调整'
        WHEN 6 THEN '部门调整'
        WHEN 7 THEN '薪酬调整'
        END )isChanged

        from employee e
        LEFT JOIN users u on u.employeeId=e.id
        LEFT JOIN employee e1 on e1.id=e.manager
        LEFT JOIN company c on c.id=u.companyId
        LEFT JOIN company c1 on c1.id=u.departmentId
        LEFT JOIN post p on p.id=u.postId
        where
        u.state=1
        <if test="empId!=null">
            and FIND_IN_SET(e.id,#{empId})
        </if>
        <if test="sign!=null and sign=='noDistribution'">
            and (e.manager=NULL or e.manager=0)
        </if>
        <if test="page!=null and pageSize!=null">
            limit ${page},${pageSize}
        </if>
    </select>
<!--,e.paymentBase-->
    <select id="getEmployeeById" parameterType="java.lang.String" resultType="com.howei.pojo.Employee">
        select u.email,e.id,u.userNumber,u.userName as name,u.entryDate,IF(u.sex=1,'男','女') as sexName,c.`name` as companyName,c1.`name` as departmentName,p.`name` as postName,e.manager,e1.name as managerName,IF(u.state=0,'离职','在职') as stateName,
        e.idnumber,e.bank,e.card,e.phone,e.closhe,e.hat,e.laowupaiqian,e.education,e.credentials1,e.credentials2,e.credentials3,e.emergency,e.emergencyTel,e.remark,e.wages,e.basicwages,e.meritpay,e.address,e.created,e.createdBy,
        e.skillPay,e.positionSalary,e.seniorityWage,e.foodSupplement,e.endowmentInsurance,e.unemploymentBenefits,e.medicalInsurance,e.accumulationFund,e.unionFees,e.sign, e.isChanged
        from employee e
        LEFT JOIN users u on u.employeeId=e.id
		LEFT JOIN employee e1 on e1.id=e.manager
        LEFT JOIN company c on c.id=u.companyId
        LEFT JOIN company c1 on c1.id=u.departmentId
        LEFT JOIN post p on p.id=u.postId
        where e.id=#{id}
    </select>

    <select id="searchEmployee" parameterType="java.util.HashMap" resultType="com.howei.pojo.Employee">
        select e.id,u.userNumber,u.userName as name,u.entryDate,IF(u.sex=1,'男','女') as sexName,c.`name` as companyName,c1.`name` as departmentName,p.`name` as postName,e.manager,e1.name as managerName,IF(u.state=0,'离职','在职') as stateName,
        e.skillPay,e.positionSalary,e.seniorityWage,e.foodSupplement,e.endowmentInsurance,e.unemploymentBenefits,e.medicalInsurance,e.accumulationFund,e.unionFees,e.sign,
        e.phone,e.idNumber,e.address,u.email,e.laowupaiqian,e.credentials1,e.credentials2,e.credentials3,e.bank,e.card
        from employee e
        LEFT JOIN users u on u.employeeId=e.id
        LEFT JOIN employee e1 on e1.id=e.manager
        LEFT JOIN company c on c.id=u.companyId
        LEFT JOIN company c1 on c1.id=u.departmentId
        LEFT JOIN post p on p.id=u.postId
        where   (
        e.address like concat('%',#{search},'%') or
        e.name like concat('%',#{search},'%') OR
        e.userNumber like concat('%',#{search},'%')
        )
        <if test="empId!=null and flag ==1" >
            and FIND_IN_SET(e.id,#{empId})
        </if>
        <if test="page!=null and pageSize!=null">
            limit ${page},${pageSize}
        </if>
    </select>

    <update id="updateEmployee" parameterType="com.howei.pojo.Employee" keyProperty="id" useGeneratedKeys="true" >
        update employee e join users u on u.employeeId=e.id
        <trim prefix="set" suffixOverrides=",">
            <if test="email!=null and email!=''">
                u.email=#{email},
            </if>
            <if test="idNumber!=null and idNumber!=''">
                e.idNumber=#{idNumber},
            </if>
            <if test="bank!=null and bank!=''">
                e.bank=#{bank},
            </if>
            <if test="card!=null and card!=''">
                e.card=#{card},
            </if>
            <if test="closhe!=null and closhe!=''">
                e.closhe=#{closhe},
            </if>
            <if test="hat!=null and hat!=''">
                e.hat=#{hat},
            </if>
            <if test="laowupaiqian!=null and laowupaiqian!=''">
                e.laowupaiqian=#{laowupaiqian},
            </if>
            <if test="education!=null and education!=''">
                e.education=#{education},
            </if>
            <if test="credentials1!=null and credentials1!=''">
                e.credentials1=#{credentials1},
            </if>
            <if test="credentials2!=null and credentials2!=''">
                e.credentials2=#{credentials2},
            </if>
            <if test="credentials3!=null and credentials3!=''">
                e.credentials3=#{credentials3},
            </if>
            <if test="entryDate!=null and entryDate!=''">
                e.entryDate=#{entryDate},
            </if>
            <if test="emergency!=null and emergency!=''">
                e.emergency=#{emergency},
            </if>
            <if test="emergencyTel!=null and emergencyTel!=''">
                e.emergencyTel=#{emergencyTel},
            </if>
            <if test="remark!=null and remark!=''">
                e.remark=#{remark},
            </if>
            <if test="wages!=null and wages!=''">
                e.wages=#{wages},
            </if>
            <if test="basicwages!=null and basicwages!=''">
                e.basicwages=#{basicwages},
            </if>
            <if test="meritpay!=null and meritpay!=''">
                e.meritpay=#{meritpay},
            </if>
            <if test="address!=null and address!=''">
                e.address=#{address},
            </if>
            <if test="manager!=null">
                e.manager=#{manager},
            </if>
            <if test="skillPay!=null">
                e.skillPay=#{skillPay},
            </if>
            <if test="positionSalary!=null">
                e.positionSalary=#{positionSalary},
            </if>
            <if test="seniorityWage!=null">
                e.seniorityWage=#{seniorityWage},
            </if>
            <if test="foodSupplement!=null">
                e.foodSupplement=#{foodSupplement},
            </if>

            <if test="endowmentInsurance!=null">
                e.endowmentInsurance=#{endowmentInsurance},
            </if>
            <if test="unemploymentBenefits!=null">
                e.unemploymentBenefits=#{unemploymentBenefits},
            </if>
            <if test="medicalInsurance!=null">
                e.medicalInsurance=#{medicalInsurance},
            </if>
            <if test="accumulationFund!=null">
                e.accumulationFund=#{accumulationFund},
            </if>
            <if test="unionFees!=null">
                e.unionFees=#{unionFees},
            </if>
            <if test="sign!=null">
                e.sign=#{sign},
            </if>
            <if test="isChanged!=null">
                e.isChanged=#{isChanged}
            </if>
        </trim>
        where e.id=#{id}
    </update>

    <select id="getEmployeeNameMap" parameterType="java.util.HashMap" resultType="com.howei.pojo.Employee">
        select e.id,e.name from employee e
        join users u on u.employeeId=e.id
        where u.state=1
        <if test="employeeId!=null">
            and e.id=#{employeeId}
        </if>
    </select>

    <select id="getEmployeeNameMapByManager" parameterType="java.lang.String" resultMap="empMap">
        select e.id,e.name from employee e
        where FIND_IN_SET(e.id,#{empId})
    </select>

    <select id="getEmployeeByManager" parameterType="int" resultType="com.howei.pojo.Employee">
        select e1.id as id,e1.name as name,e1.userNumber as userNumber,e1.manager as manager from employee e
        join users u on u.employeeId=e.id
        join employee e1 on e1.manager=e.id
        where u.state=1
        <if test="empId!=null and empId!=0">
            and e.id=#{empId} or e.id=#{empId}
        </if>
    </select>

    <select id="getEmployeeMap" resultType="com.howei.pojo.Employee">
        select id,name from employee
    </select>

    <select id="getEmpMap" resultType="com.howei.pojo.Employee" parameterType="java.util.Map">
        select e.id,e.name from employee e
        join users u on u.employeeId=e.id
        where u.state=1
        <if test="companyId!=null">
          and u.companyId=#{companyId}
        </if>
        <if test="departmentId!=null">
            and u.departmentId=#{departmentId}
        </if>
    </select>

</mapper>