<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.howei.mapper.WagsMapper" >
    <resultMap id="wagsMap" type="com.howei.pojo.Wages">
        <result column="id" property="id"></result>
        <result column="employeeId" property="employeeId"></result>
        <result column="basePay" property="basePay"></result>
        <result column="skillPay" property="skillPay"></result>
        <result column="positionSalary" property="positionSalary"></result>
        <result column="seniorityWage" property="seniorityWage"></result>
        <result column="other" property="other"></result>
        <result column="meritPay" property="meritPay"></result>
        <result column="wageSubtotal" property="wageSubtotal"></result>
        <result column="performanceCoefficient" property="performanceCoefficient"></result>
        <result column="wagesPayable" property="wagesPayable"></result>
        <result column="totalPayable" property="totalPayable"></result>
        <result column="endowmentInsurance" property="endowmentInsurance"></result>
        <result column="unemploymentBenefits" property="unemploymentBenefits"></result>
        <result column="medicalInsurance" property="medicalInsurance"></result>
        <result column="accumulationFund" property="accumulationFund"></result>
        <result column="otherDeductions" property="otherDeductions"></result>
        <result column="unionFees" property="unionFees"></result>
        <result column="totalTax" property="totalTax"></result>
        <result column="totalDeduction" property="totalDeduction"></result>
        <result column="sixSpecialDeductions" property="sixSpecialDeductions"></result>
        <result column="individualTaxAdjustment" property="individualTaxAdjustment"></result>
        <result column="netSalary" property="netSalary"></result>
        <result column="remark" property="remark"></result>
        <result column="date" property="date"></result>
        <result column="created" property="created"></result>
    </resultMap>

    <select id="getWagsList" parameterType="java.util.HashMap" resultType="com.howei.pojo.Wages">
        select w.*,e.userNumber,e.name employeeName from wages w
        left join employee e on e.id=w.employeeId
        LEFT JOIN users u on u.employeeId=e.id
        LEFT JOIN company c on c.id=u.companyId
        <where>
            c.id=1 and u.state=1
            <if test="month!=null">
                and w.date=#{month}
            </if>
            <if test="empId!=null">
                and FIND_IN_SET(e.id,#{empId})
            </if>
        </where>
    </select>
    <!--subTotalOfSubsidies-->
    <insert id="copyToThisMonthWags" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into wages (employeeId,basePay,skillPay,positionSalary,seniorityWage,other,meritPay,wageSubtotal,performanceCoefficient,wagesPayable,
        totalPayable,endowmentInsurance,unemploymentBenefits,medicalInsurance,accumulationFund,otherDeductions,unionFees,totalTax,totalDeduction,sixSpecialDeductions,individualTaxAdjustment,netSalary,remark,`date`,created) values
        <foreach collection="list" item="item" separator="," index="index">
            (#{item.employeeId},#{item.basePay},#{item.skillPay},#{item.positionSalary},#{item.seniorityWage},#{item.other},#{item.meritPay}
              ,#{item.wageSubtotal},#{item.performanceCoefficient},#{item.wagesPayable},#{item.totalPayable},#{item.endowmentInsurance}
              ,#{item.unemploymentBenefits},#{item.medicalInsurance},#{item.accumulationFund},#{item.otherDeductions},#{item.unionFees},#{item.totalTax}
              ,#{item.totalDeduction},#{item.sixSpecialDeductions},#{item.individualTaxAdjustment},#{item.netSalary},#{item.remark},#{item.date},#{item.created})
        </foreach>
    </insert>

    <insert id="addThisMonthWags" parameterType="com.howei.pojo.Wages" useGeneratedKeys="true" keyProperty="id">
        insert into wages (employeeId,basePay,skillPay,positionSalary,seniorityWage,other,meritPay,wageSubtotal,performanceCoefficient,wagesPayable,
        totalPayable,endowmentInsurance,unemploymentBenefits,medicalInsurance,accumulationFund,otherDeductions,unionFees,totalTax,totalDeduction,sixSpecialDeductions,individualTaxAdjustment,netSalary,remark,`date`,created)
        values
        (#{wages.employeeId},#{wages.basePay},#{wages.skillPay},#{wages.positionSalary},#{wages.seniorityWage},#{wages.other},#{wages.meritPay}
        ,#{wages.wageSubtotal},#{wages.performanceCoefficient},#{wages.wagesPayable},#{wages.totalPayable},#{wages.endowmentInsurance}
        ,#{wages.unemploymentBenefits},#{wages.medicalInsurance},#{wages.accumulationFund},#{wages.otherDeductions},#{wages.unionFees},#{wages.totalTax}
        ,#{wages.totalDeduction},#{wages.sixSpecialDeductions},#{wages.individualTaxAdjustment},#{wages.netSalary},#{wages.remark},#{wages.date},#{wages.created})
    </insert>

    <update id="updWags" keyProperty="id" useGeneratedKeys="true" parameterType="com.howei.pojo.Wages">
        update wages
        <set>
            <if test="basePay!=0.00">
                basePay=#{basePay},
            </if>
            <if test="skillPay!=0.00">
                skillPay=#{skillPay},
            </if>
            <if test="positionSalary!=0.00">
                positionSalary=#{positionSalary},
            </if>
            <if test="seniorityWage!=0.00">
                seniorityWage=#{seniorityWage},
            </if>
            <if test="meritPay!=0.00">
                meritPay=#{meritPay},
            </if>
            <if test="endowmentInsurance!=0.00">
                endowmentInsurance=#{endowmentInsurance},
            </if>
            <if test="medicalInsurance!=0.00">
                medicalInsurance=#{medicalInsurance},
            </if>
            <if test="accumulationFund!=0.00">
                accumulationFund=#{accumulationFund},
            </if>
            <if test="unemploymentBenefits!=0.00">
                unemploymentBenefits=#{unemploymentBenefits},
            </if>
            <if test="unionFees!=0.00">
                unionFees=#{unionFees},
            </if>
            <if test="other!=0.00">
                other=#{other},
            </if>
            <if test="wageSubtotal!=0.00">
                wageSubtotal=#{wageSubtotal},
            </if>
            <if test="performanceCoefficient!=0.00">
                performanceCoefficient=#{performanceCoefficient},
            </if>
            <if test="wagesPayable!=0.00">
                wagesPayable=#{wagesPayable},
            </if>
            <if test="foodSupplement!=0.00">
                foodSupplement=#{foodSupplement},
            </if>
            <if test="totalPayable!=0.00">
                totalPayable=#{totalPayable},
            </if>
            <if test="otherDeductions!=0.00">
                otherDeductions=#{otherDeductions},
            </if>
            <if test="totalDeduction!=0.00">
                totalDeduction=#{totalDeduction},
            </if>
            <if test="totalTax!=0.00">
                totalTax=#{totalTax},
            </if>
            <if test="sixSpecialDeductions!=0.00">
                sixSpecialDeductions=#{sixSpecialDeductions},
            </if>
            <if test="individualTaxAdjustment!=0.00">
                individualTaxAdjustment=#{individualTaxAdjustment},
            </if>
            <if test="netSalary!=0.00">
                netSalary=#{netSalary},
            </if>
            <if test="highTemperatureSubsidy!=0.00">
                highTemperatureSubsidy=#{highTemperatureSubsidy},
            </if>
            <if test="remark!=null and remark!=''">
                remark=#{remark},
            </if>
        </set>
        <where>
            <if test="id!=null">
                id=#{id}
            </if>
        </where>
    </update>

    <!--获取税列表-->
    <select id="getTaxList" parameterType="java.util.HashMap" resultType="com.howei.pojo.Tax">
        select * from tax
        <where>
            <if test="employeeId!=null">
                and employeeId=#{employeeId}
            </if>
            <if test="month!=null">
                and DATE_FORMAT(`date`,'%Y-%m-%d')&lt;DATE_FORMAT(#{month},'%Y-%m-%d')
            </if>
        </where>
    </select>

    <select id="getWagsListById" parameterType="java.lang.String" resultType="com.howei.pojo.Wages">
        select * from wages where id=#{id}
    </select>

</mapper>